<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>camaloon</name>
	<displayName><![CDATA[Camaloon Print on Demand]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[Print-on-demand is a process where you sell your own custom
        branded designs on a variety of different products. With print-on-demand there is no need
        to have any inventory, as products are printed as soon as an order is made through your store.]]></description>
	<author><![CDATA[Camaloon]]></author>
	<tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the camaloon plugin?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
