.white-content-box {
  padding: 2rem;
  background-color: white;
}

.white-content-box-left {
  margin-right: 1rem;
}

.white-content-box ol {
  padding-left: 0px;
  list-style-type: none;
}

.faqs-container .description{
  margin: 1rem 0;
}

.faq {
  border-bottom: 1px solid #D1D5DB;
  padding-bottom: 1rem;
  font-size: 13px;
  line-height: 1.75rem;
}

.support-errors{
  background-color: rgb(243, 244, 246);
  border-color: rgb(243, 244, 246);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.support-note{
  margin-bottom: 1rem;
}