#maintab-CamaloonHome > a:before {
    background: url('../img/camaloon-icon.svg') no-repeat center;
    background-size: contain;
    content: '';
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
}

.icon-CamaloonHome {
  display:none;
}
